<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="compcount" data-view="Hotness" data-title="compcount" data-cool="1" data-warm="10" data-moreinfo="ADV search # of computers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="allcomps" data-view="Hotness" data-title="allcomps" data-cool="1" data-warm="4" data-moreinfo="Smart Group # of computers"></div>
    </li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="smartdevice" data-view="Hotness" data-title="smartdevice" data-cool="20" data-warm="90" data-moreinfo="Smart Group # of computers"></div>
     <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
  <div data-id="modelcount" data-view="List" data-title="modelcount" data-moreinfo="List of models"></div>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="percomp" data-view="Meter" data-title="percomp" data-moreinfo="Smart group % of computers" data-min="0" data-max="100"></div>
  </ul>
</div>
